<%- include("./partials/head.ejs") %>
<%- include("./partials/nav.ejs") %>
<main class="container">
 
  <%- include("./partials/menu.ejs") %>
  
  <% if(view == 'index'){%>
  <%- include('./clients.ejs') %>
  <% }else if(view == 'createClient'){%>
  <%- include('./addClient.ejs') %>
  <%}else if(view == 'viewClient'){%>
  <%- include('./viewClient.ejs') %>
  <%}else if(view == 'file'){%>
  <%- include('./addFileReports.ejs') %>
  <%}else if(view == 'createUser'){%>
  <%- include('./addUser.ejs') %>
  <% } %>
  </div>
</main>

<%- include("./partials/pagination.ejs") %>
<script>
  console.log('<%= view %>')
</script>
<%- include("./partials/footer.ejs") %>