<%- include("./partials/head.ejs") %> 
<%- include("./partials/nav.ejs") %> 
<main class="container">
        <% if(user.status==1){%>
            <%- include("./partials/menu.ejs") %> 
            <%}%> 
          <div>

         
        <div class="page-header" <%if(user.status==2){%>style="margin-top: 70px;"<%}%>>
            <button type="button" class="btn btn-primary">
                <h1>Empresa</h1>   <span class="badge "><h1><%=company%></h1></span>
                <span class="visually-hidden"></span>
              </button>
        </div>
        <ul class="timeline">
            <% pathFiles.forEach((item,i) => { %>
            <li <%= i%2===0?'':'class=timeline-inverted'%>>
                <% if(item.download){%>
                <div class="timeline-badge success">
                    <i class="glyphicon glyphicon-thumbs-up"></i>
                </div>
                <% }else{%>
                    <div class="timeline-badge">
                        <i class="glyphicon glyphicon-save"></i>
                      </div>
                <% } %>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h3 class="timeline-title"> <%= item.report.name%> </h3>
                        <h5><i class="glyphicon glyphicon-calendar"></i> <%=format(new Date(item.date),'dd/MM/yyyy')%> </h5>
                    </div>
                    <div class="timeline-body">
                        <a href="/time-line/<%=item.id%>/<%=item.path%>" class="btn btn-primary text-white btn-lg">
                            <span class="glyphicon glyphicon-save text-white"></span> Baixar
                        </a>
                        <% if(item.download){%>
                        <p><b>Último download: </b> <%=format(new Date(item.updatedAt),'dd/MM/yyyy')%>  </p>
                        <% } %>  
                    </div>
                </div>
            </li>
            <% }); %>
        </ul>
 
    </main>
   
    <nav aria-label="..." class="pagination-nav">
        <ul class="pagination">
                   
          <% for(let i = 0; i < totalPages; i++){%> 
          <li class="page-item <%= page==i+1?'active':'' %>"><a class="page-link" href="<%=linkPage%>?id=<%=id%> &page=<%=i+1 %>"><%=i+1%></a></li>
          <% } %> 
            
        </ul>
      </nav>
    </div>      
    <%- include("./partials/footer.ejs") %> 