<section class="main-client">
    <div class="border border-info date-person-client">
        <span class="badge bg-info label-client">Dados da Empresa</span>
        <div class="group-date">
            <div class="border border-info label-date" style="width: 60%;">
                <span class="badge bg-info label-company "> <i class='fas fa-building' style='font-size:15px'></i>
                    Empresa</span>
                <p><b><%= clients.company %></b></p>
            </div>
            <div class="border border-info label-date" style="width: 35%;">
                <span class="badge bg-info label-company "> <i class='far fa-newspaper' style='font-size:15px'></i>
                    CNPJ</span>
                <p><b><%= clients.cnpj %></b></p>
            </div>
            
        </div>
        <div class="group-date">
            <div class="border border-info label-date" style="width: 60%;">
                <span class="badge bg-info label-company "> <i class='far fa-envelope-open' style='font-size:15px'></i>
                    Email</span>
                <p><b><%= clients.email %></b></p>
            </div>
            <div class="border border-info label-date" style="width: 35%;">
                <span class="badge bg-info label-company "> <i class='fas fa-mobile-alt' style='font-size:15px'></i>
                    Telefone</span>
                <p><b><%= clients.telephone %></b></p>
            </div>
        </div>
    </div>
    
    <div class="border border-info date-person-client">
        <span class="badge bg-info label-client">Endereço</span>
        <div class="group-date">
            <div class="border border-info label-date" style="width: 50%;">
                <span class="badge bg-info label-company "> <i class='fas fa-map-marker-alt' style='font-size:15px'></i>
                     Logradouro</span>
                <p><b><%= clients.andress %></b></p>
            </div>
            <div class="border border-info label-date" style="width: 30%;">
                <span class="badge bg-info label-company "> <i class='fas fa-map-marked-alt' style='font-size:15px'></i>
                    Bairro</span>
                <p><b><%= clients.district %></b></p>
            </div>
            <div class="border border-info label-date" style="width: 15%;">
                <span class="badge bg-info label-company "> <i class='fas fa-map-signs' style='font-size:15px'></i>
                    CEP</span>
                <p><b><%= clients.zip_code %></b></p>
            </div>
        </div>
        <div class="group-date">
            <div class="border border-info label-date" style="width: 70%;">
                <span class="badge bg-info label-company "> <i class='fas fa-map-marker-alt' style='font-size:15px'></i>
                    Cidade</span>
                <p><b><%= clients.city%></b></p>
            </div>
            <div class="border border-info label-date" style="width: 28%;">
                <span class="badge bg-info label-company "> <i class='fas fa-map-marker-alt' style='font-size:15px'></i>
                    UF</span>
                <p><b><%= clients.uf%></b></p>
            </div>

        </div>
    </div>
    <div class="border border-info date-person-client">
        <span class="badge bg-info label-client">Usuário</span>
    </div>
</section>